# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment files
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Data files
data/raw/
data/temp/
*.nc
*.tiff

# Logs and output
*.log
*.out

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

.DS_Store